@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


:root {
    --main-color: #2f59cc;
    --bg-color: #050915;
    --gray-color: #9DA2AF;
    --marge: 50px;
    --decal: 50px;
    --min-size: 1380px;
    --max-size: 1380px;
}


*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #000;
    text-decoration: none;
    outline: none;
}


.btn {
    text-align: center;
    padding: 12px 20px;
    border-radius: 100vh;
    box-shadow: inset 0 0 0 2px var(--main-color);
    color: var(--main-color);
    width: fit-content;
    font-weight: 600;
    transition: all 150ms ease-out;
}
.btn:hover {
    background-color: var(--main-color);
    color: #fff;
}
.btn2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: var(--main-color);
    width: fit-content;
}

.container {
    display: flex;
    align-items: center;
    max-width: var(--min-size);
    gap: var(--marge);
    margin: 0 auto;
    flex-wrap: wrap;
    /* overflow: hidden; */
    padding: var(--marge);
}
.container > * {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
    flex-basis: 0;
}
/* .container > div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .1;
    border-radius: 25px;
} */

.dark {
    background-color: var(--bg-color);
}
.dark * {
    color: #fff;
    fill: #fff;
}
.dark a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: unset;
    right: 0;
    background-color: #fff;
    height: 2px;
    width: 0%;
    transition: all 150ms linear;
}
.dark a:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}
.dark .btn {
    box-shadow: inset 0 0 0 2px #fff;
    font-weight: 400;
}
.dark .btn::before, .dark .btn2::before, header ul:first-child li:last-child a::before {
    display: none;
}
.dark .btn:hover {
    background-color: #fff;
    color: var(--bg-color);
}
.dark .btn2, .dark .btn2 svg {
    font-weight: 400;
    fill: #fff;
}
.dark .container, header nav ul:first-child {
    max-width: var(--max-size);
}
.dark .container > div::before {
    display: none;
}
.dark input {
    background-color: #fff;
    color: #000;
    padding: 15px;
    font-size: 1rem;
}
.dark input[type=submit] {
    border-radius: 100vh;
    width: fit-content;
}

.blue {
    color: var(--main-color);
}

.gray {
    color: var(--gray-color);
}

.uppercase, h3 {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
    color: inherit;
}

section, footer {
    margin-top: 150px;
    /* padding: var(--marge); */
}
section img {
    object-fit: cover;
    width: 100%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

input {
    border: none;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    min-width: 325px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
header nav ul:first-child {
    margin: 0 auto;
    height: 75px;
    padding: 0 var(--marge);
}
header ul:first-child li:first-child {
    margin-right: auto;
}
header ul:first-child li:first-child a, header ul:first-child, #footer div:first-child a:first-child {
    display: flex;
    align-items: center;
    gap: 15px;
}
header ul:first-child li:first-child a, #footer div:first-child a:first-child {
    font-size: 32px;
}
header ul:first-child li:first-child a::before {
    display: none;
}
header a svg, #footer div:first-child a:first-child svg {
    height: 28px;
    width: fit-content;
}
header ul:first-child {
    gap: 25px;
}
header #burger_menu {
    display: none;
}
header ul:last-child {
    position: absolute;
    top: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    gap: var(--marge);
    align-items: center;
    background-color: var(--bg-color);
    padding: var(--marge);
    visibility: hidden;
}
.active {
    visibility: hidden !important;
}


#landing {
    margin: 0;
    height: min(100vh, 1000px);
    overflow: hidden;
}
#landing .container {
    max-width: var(--min-size);
    height: 100%;
}
#landing .container > div {
    align-self: center;
}
h1 {
    font-size: 64px;
    max-width: 600px;
    font-weight: 400;
}
#landing p {
    max-width: 400px;
}
#landing #expertise::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 36px;
    bottom: 3px;
    right: -5px;
    background-color: #fff;
    animation: writeBar 1000ms infinite;
}
#phone_container {
    position: absolute;
    width: 65%;
    height: 100%;
    bottom: 0;
    right: 0;
}
.phone_anim {
    position: absolute;
    top: 0;
    right: var(--marge);
    height: 100%;
    width: 100%;
    margin: auto 0;
}
.phone_anim::-webkit-media-controls {
    display: none; /* Masquer les contrôles de lecture */
}


@keyframes writeBar {
    0% {
        visibility: visible;
        opacity: 1;
    }
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}


#expertises .container > div::before {
    top: var(--decal);
    left: var(--decal);
}
#expertises img {
    height: 250px;
    border-radius: 100px 0 100px 0;
}

#slider {
    display: flex;
    gap: var(--marge);
    padding: 25px 0 !important;
    max-width: var(--min-size) !important;
    margin: 0 auto;
    overflow-x: auto;
}
.slide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    gap: 25px;
    padding: 25px;
    min-width: 350px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.slide:first-child {
    margin-left: var(--marge);
}
.slide:last-child {
    margin-right: var(--marge);
}
.slide > div {
    display: grid;
    place-items: center;
    background-color: var(--main-color);
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
}
.slide a {
    margin-top: auto;
}


#Nous .container > div::before {
    top: var(--decal);
    right: var(--decal);
}
#Nous img {
    height: 350px;
    border-radius: 0 100px 0 100px;
}


#qualité .container {
    align-items: start;
}
#qualité .container > div:first-child p {
    font-size: 20px;
}
#qualité .container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)); /* Utilise auto-fit pour faire en sorte que les éléments s'ajustent automatiquement à la taille de l'écran */
    grid-gap: var(--marge); /* Espacement entre les éléments */
}
#qualité .container .grid .item {
    padding: 25px;
    background-image: radial-gradient(circle at top right, rgba(255, 255, 255, .1), #ffffff00);
}
.devis {
    display: flex;
    align-items: center;
    max-width: var(--max-size);
    margin: 0 auto;
    margin-top: 25px;
    padding: var(--marge);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.devis > div {
    display: grid;
    gap: 15px;
}
.devis > div:last-child {
    place-items: center;
}




#seo .container > img {
    height: 350px;
    border-radius: 100px 0 100px 0;
}
#seo .container > div::before {
    bottom: var(--decal);
    left: var(--decal);
}
#seo .container > div .stats {
    display: flex;
    align-items: center;
    justify-content: center;
}
#seo .container > div .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#seo .container > div .stat span:first-child {
    font-size: 36px;
    font-weight: 600;
}
#seo .container > div .stat span:last-child {
    font-size: 24px;
    font-weight: 600;
}



#boutique .container > img {
    height: 350px;
    border-radius: 0 100px 0 100px;
}
#boutique .container > div::before {
    bottom: var(--decal);
    right: var(--decal);
}
#boutique .apps {
    display: flex;
    justify-content: space-around;
}
#boutique .apps img {
    height: 50px;
    width: fit-content;
    object-fit: contain;
}


#contenu {
    height: min(100vh, 1000px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('./images/img5.jpg');
}
#contenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0) 65%);
    opacity: 0.65; */
    background-image: linear-gradient(10deg, var(--bg-color) 30%, #05091500 60%);
    z-index: 997;
}
#contenu .container {
    height: 100%;
    align-items: end;
    z-index: 998;
}
#contenu .container > div {
    max-width: 650px;
}
#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video-bg::-webkit-media-controls {
    display: none; /* Masquer les contrôles de lecture */
}


#articles {
    padding: 0 !important;
}
#articles h2 {
    text-align: center;
    margin-bottom: 25px;
}
#articles__container {
    display: flex;
    gap: var(--marge);
    padding: 25px 0 !important;
    max-width: var(--min-size) !important;
    margin: 0 auto;
    overflow-x: auto;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
    flex-basis: 0;
    gap: 25px;
    padding: 25px;
    min-width: 350px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
    background-size: cover;
    overflow: hidden;
}
.article::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 75%);
}
.article:first-child {
    margin-left: var(--marge);
}
.article:last-child {
    margin-right: var(--marge);
}
.article * {
    fill: #fff;
    color: #fff;
}


footer > div {
    padding: var(--marge);
}
footer .container:first-child {
    padding-bottom: 0;
}
footer .container:first-child > form {
    gap: 10px;
}
footer .container:first-child > form input[type=submit] {
    padding: 10px 25px;
}
footer > div:last-child {
    padding-top: 0;
}
footer hr {
    margin: 50px auto;
    max-width: calc(var(--max-size) - 2*var(--marge));
    padding: 0 var(--marge);
}
#footer {
    max-width: var(--max-size);
    margin: 0 auto;
}
#footer > div {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
#footer > div:first-child {
    margin-bottom: 25px;
}
#footer > div:first-child *::before {
    display: none;
}
#footer > div *:first-child {
    margin-right: auto;
}
#footer a svg {
    height: 40px;
}



/* Largeur de la barre de défilement */
::-webkit-scrollbar {
    width: 5px; /* Changez la largeur selon vos préférences */
    height: 5px;
}

/* Couleur de fond de la barre de défilement */
::-webkit-scrollbar-track {
    background: #fff; /* Changez la couleur selon vos préférences */
}

/* Couleur de remplissage de la barre de défilement */
::-webkit-scrollbar-thumb {
    background: var(--bg-color); /* Changez la couleur selon vos préférences */
}

/* Ajouter une bordure à la barre de défilement */
::-webkit-scrollbar-thumb:hover {
    background: #050915ee; /* Changez la couleur selon vos préférences */
}




.container > * {
    opacity: 0;
    transform: translateY(50px);
    transition: all 500ms ease-in-out;
}

.container > *.show {
    opacity: 1;
    transform: translateY(0);
}




@media (max-width: 950px) {
    header ul:first-child li {
        display: none;
    }
    header #burger_menu, header ul:first-child li:first-child {
        display: initial;
    }

    .active {
        visibility: visible !important;
    }
}


@media (max-width: 900px) {
    :root {
        --marge: 25px;
        --decal: 50px;
    }
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    #contenu .container > div {
        place-content: end;
    }

    #landing {
        height: max(100vh,800px);
    }
    #landing .container > div {
        padding-top: 75px;
        place-content: top;
        width: 100%;
    }
    #phone_container {
        bottom: 0;
        right: 0;
    }
    .phone_anim {
        top: 25%;
        right: var(--marge);
        height: 125%;
        width: 100%;
        margin: auto 0;
    }
}

@media (max-height: 600px) {
    .phone_anim {
        opacity: 0.5;
    }
}

@media (max-width: 650px) {
    .container > img {
        height: 200px !important;
    }
}

@media (max-width: 450px) {
    .devis > div:last-child {
        width: 100%;
    }    

    .btn, .btn2 {
        width: 100%;
    }
    .btn {
        background-color: var(--main-color);
        color: #fff;
    }
    .dark .btn {
        background-color: #fff;
        color: var(--bg-color);
    }
    .btn2 {
        justify-content: center;
    }

    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 28px;
    }

    header ul:last-child li:last-child {
        display: flex;
        width: 100%;
    }

    section, footer {
        margin-top: 75px;
    }

    .slide a, .article a {
        width: fit-content !important;
    }
}

@media (max-width: 375px) {
    header ul:first-child li:first-child a {
        display: initial;
    }
}